body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(180deg, #2c1937, #d06694 ,#fffed3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    color: #333;
}

.container {
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #fff7fc;
}


.usage {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.box {
    width: 260px;
    height: 130px;
    margin-bottom: 40px;

    background: #fff7fc;
    border-radius: 16px;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

}

.item h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #555;
    text-align: center;
}

.item h2 {
    margin-top: 15px;
    font-size: 38px;
    color: #cb617f;
    text-align: center;
}

.network-line {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.update {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1.1rem;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#6a5c64;
    text-align: center;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 12px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #f34778;
    border-radius: 20px 0 0 20px;
    transition: width 0.5s ease;
}

